<div class="container">

  <h1>Add Post</h1>

  <form action="/post" method="post">
    <input type="text" placeholder="Title" name="title"><br><br>
    <textarea placeholder="Content" name="body"></textarea><br>
    <br><input type="submit" value="Submit">
  </form>

</div>
